body {
    font-family:    Verdana,Arial,Helvetica,sans-serif;
    font-size:      11pt;
    text-align:     center;
    background:     none repeat scroll 0 0 #000000;
    color:          #EEE;
}

div#container {
    display:        block;
    position:       relative;
    margin:         0 auto
    width:          500px;
}

div#main {
    display:        block;
}

table.options {
    margin:         10px auto;
    padding:        2px;
    width:          400px;
}

div.status {
    margin:         10px auto;
    overflow:       hidden;
    width:          450px;
}

span.left {
    float:          left;
    text-align:     left;
}

span.right {
    float:          right;
    text-align:     right;
}

td {
    height:         0px;
    padding:        3px;
}

hr {
    width:          400px;
}

tr {
    height:         0px;
    padding:        3px;
    vertical-align: center;
}

table#msgs {
    color:          #BBB;
    width:          50%;
    margin:         0 auto;
}

table#msgs tr:nth-child(even) {
    vertical-align: center;
    background:     #222;
}

table#msgs tr:nth-child(odd) {
    vertical-align: center;
    background:     #333;
}

td.time {
    width:          150px;
    font-family:    courier-new;
    font-size:      10px;
    text-align:     center;
}

td.from {
    width:          100px;
    text-align:     left;
}

td.text {
    text-align:     left;
}


table#login {
    margin:         auto auto;
}

table#sign_up {
    margin:         auto auto;
    text-align:     right;
}

p#diff_desc {
    width:          250px;
    margin:         10px auto;
}

p#logout {
    text-align:     right;
}

p#head {
    font-size:      10pt;
    font-weight:    bold;
}

a:link {
    color:          #DDD;
    text-decoration: none;
}

a:visited {
    color:          #DDD;
    text-decoration: none;
}
