body {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 8pt;
    text-align: center;
    background: none repeat scroll 0 0 #000000;
    color:      #FFF;
}

div#container {
    display:    block;
    position:   relative;
    width:      100%;
}

div#main {
    display:    block;
}

table.options {
    margin: 10px auto;
    padding: 2px;
    width: 350px;
}

td {
    height: 0px;
    padding: 3px;
}

tr {
    height: 0px;
    padding: 3px;
}

table#login {
    margin: auto auto;
}

table#sign_up {
    margin: auto auto;
    text-align: right;
}

p#diff_desc {
    width: 250px;
    margin: 10px auto;
}

p#logout {
    text-align: right;
}

p#head {
    font-size: 10pt;
    font-weight: bold;
}

a:link {
    color: #DDD;
    text-decoration: none;
}

a:visited {
    color: #DDD;
    text-decoration: none;
}

p#bonus {
    font-size: 18px;
    color: #FA0080;
    font-weight: bolder;
    text-transform: uppercase;
}

p#info {
    font-size: 18px;
    font-weight: bolder;
}

p#warning {
    font-size: 18px;
    color: #FA0080;
    font-weight: bolder;
}
